@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Inter", "Open Sans", 'Jomhuria', sans-serif;
  overflow: hidden;
}


/* input[type=checkbox], input[type=checkbox]:checked {
  -moz-appearance:none;
  -webkit-appearance:none;
  -o-appearance:none;
}

input[type=checkbox] {
  border-radius: 0.25rem;
  border: 1px solid #E2E2E2;
} */

input[type=checkbox]:checked {
  /* background: #17A2B8; */
  accent-color: #17A2B8;
}